doctype html

html(lang="es")
	head
		title GatoMalo
		link(rel="icon" href="/assets/favicon.png" type="image/png")
		link(href="https://fonts.googleapis.com/css?family=Inconsolata|Lato", rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="/assets/stylesheets/custom.css")
	body

		.jumbotron
			.container
				h1 Gatomalo
				
		.container
			.btn-group.report-buttons(role="group")
				button.btn.btn-secondary#report-x-button(type="button") Reporte X
				button.btn.btn-secondary#report-z-button(type="button") Reporte Z

		.container
			table.table
				thead.thead-default: tr
					th Invoice ID
					th Customer Name
					th Total
					th Date
					th Actions
				each invoice in invoices
					
					//- Check if the invoice was already printed
					- 
						has_been_printed = printed_invoices.find( i => 
							i.zoho_id == invoice.invoice_id 
						)

					tr(class=(has_been_printed ? 'table-success' : ''), 
						id=`row_${invoice.invoice_id}`)

						td= invoice.invoice_id
						td= invoice.customer_name
						td.money-text= `$${invoice.total.toFixed(2)}`
						td= moment(invoice.created_time).format('YYYY-MM-DD HH:mm:ss')
						td
							.btn-group
								a.btn.btn-sm.btn-primary.print_invoice(
										href="#",
										role="button",
										data-invoice-id=invoice.invoice_id
									) Print
								a.btn.btn-sm.btn-secondary.refund_invoice(
										href="#",
										role="button",
										data-invoice-id=invoice.invoice_id
										data-toggle="modal"
										data-target="#getFiscalIDDialog"
									) Refund
								a.btn.btn-sm.btn-secondary.test_invoice(
										href="#",
										role="button",
										data-invoice-id=invoice.invoice_id
									) Test

			nav(aria-label="Page Navigation")
				ul.pagination
					- if (page_context["page"] != 1)
						li.page-item
							a.page-link(href=`/${ page_context["page"] - 1 }`) Previous Page
					- if (page_context.has_more_page)
						li.page-item
							a.page-link(href=`/${ page_context["page"] + 1 }`) Next Page

		include ./get_fiscal_id_dialog
		include ./progress_dialog

		script(src="/assets/javascripts/jquery.min.js")
		script(src="/assets/javascripts/tether.min.js")
		script(src="/assets/javascripts/bootstrap.min.js")
		script(src="/assets/javascripts/main.js")
